# Python
__pycache__/
*.pyc
.venv/
venv/

# Editor temp files
*.swp
*.swo

# Environment / secrets
.env

# Logs
*.log

# OS junk
.DS_Store


.secrets/
*.json
.env
.secrets/
*.json
.env
__pycache__/
*.pyc
